*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
# System files
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
docs
config

# R files
*.Rhistory
*.RData
.Rproj.user/
*.Rproj
Rplots.pdf
Data Challenge.Rproj

# Data files
10_Data/12_Raw/*.csv
10_Data/12_Raw/*.xlsx
10_Data/11_Processed/*.csv

# Credentials
.env
credentials.R

# App - Files
app.r
rsconnect/
rsconnect/*
40_Scripts/app.r
40_Scripts/rsconnect/
40_Scripts/rsconnect/*
40_Scripts/internal_report_snippets.R